.git
.gitignore
.gitattributes

# Editors
.vscode/
.idea/

# Docker
**/docker-compose*
**/Dockerfile*
**/.docker
**/.dockerignore

**/__pycache__/
**/*.py[cod]

# Distribution / packaging
**/.Python
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/*.egg-info/
**/.installed.cfg
**/*.egg
**/MANIFEST


# Virtual environment
**/*.env
.venv
.envs/
env/
venv/
ENV/
env.bak/
venv.bak/

# Text files
**/*.log
**/*.md
log.txt
output_*
.~lock.*
**/___*

**/.tmp/
**/Dockerfile*
**/docker-compose*
data/
